@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/* ------------- */
html{
    scroll-behavior: smooth;
    width: 100%;
}
body{
    overflow-x: hidden;

}
/* ------------- */
body nav#menu{
    background-color: #255371;
    position: fixed;
    width: 100%;
}
/* ------------- */
body nav#menu{
    padding: .9rem;
}
/* ------------- */
body nav#menu ul{
    display: flex;
    list-style: none;
    color: white;
}
body nav#menu ul li#max{
    justify-content: flex-start;
    padding: .7rem;
    width: 10%;
}
nody nav#menu ul div#menu{
    display: flex;
    justify-content: center;
}
body nav#menu ul a{
    padding-left: 3rem;
    font-size: 300;
}
body nav#menu ul li#menu{
    padding-left: 30%;
}
body header#portada section#presentacao{
    width: 100%;

}
body header#portada{
    width: 120%;
    height: 600px;
    background-image: url('../IMG/Fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
}
body header#portada img#eu{
    border-radius: 50%;
    width: 15%;
    justify-content: flex-start; 
    margin-left: 23rem;
}
body header#site{
    background-image: url('../IMG/Fundo_degrade.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 120%;
    display: block;
}
body header#site h2{
    padding-top: 5rem;
    margin-left: 4rem;
    width: 100%;
    display: flex;
    justify-content: center; 
    color: white; 
    font-size: 900;
}
body header#site div#botoesProjetos{
    padding-top: 3rem;
    margin-left: 8rem;
    display: flex;
    justify-content: center;
}
body header#site div#botoesProjetos section#blue{
    padding: 2rem 3rem 3rem 3rem;
}
body header#site div#botoesProjetos section#conversor{
    padding: 2rem 3rem 3rem 3rem;
}
body header#site div#botoesProjetos section#simulador{
    padding: 2rem 3rem 3rem 3rem;
}
body header#site div#botoesProjetos section#blue button{
    height: 200px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    border-bottom: white;
    border-color: white;
    background-color: #193850;
    color: white;
    font-weight: 700;
}
body header#site div#botoesProjetos section#conversor button{
    height: 200px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    border-bottom: white;
    border-color: white;
    background-color: #193850;
    color: white;
    font-weight: 700;
}
body header#site div#botoesProjetos section#simulador button{
    height: 200px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    border-bottom: white;
    border-color: white;
    background-color: #193850;
    color: white;
    font-weight: 700;
}
body header#quemSou{
    display: flex;
    justify-content: center;
    height: 600px;
    width:120%;
    background-color: #193850;
}
body header#quemSou section#quemSouEu{
    padding-top: 5rem;
    display: block;
    justify-content: auto;
    margin-right: 200px;
    margin-left:410px;
}
body header#quemSou section#quemSouEu h2{
    margin-left: 350px;
    width: 100%;
    color: white;
    padding-bottom: 4rem;
    font-size: 900;
}
body header#quemSou section#quemSouEu p{
    width: 100%;
    color: white;
    font-size: 100;
    margin-right: 200px;
    word-wrap: break-word;
}
body header#habilidades{
    background-color: #193850;
    height: 600px;
    width: 120%;
    display: block;
    justify-content: center;
}
body header#habilidades section h2{
    color: white;
    font-size: 900;
    margin-left: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}
body header#habilidades ul p{
    padding: 1.2rem;
}
body header#habilidades ul li{
    width: 100%;
    margin-top: 4rem;
    margin-left: 35rem;
    display: block;
    justify-content: center;
    color: white;
}
body header#habilidades ul li div#python span#borda{
    margin-top: 1.5rem;
    margin-left: 5rem;
    background-color: #fff;
    padding: .4rem;
    padding-right: 421px;
    border-radius: 1rem;
    width: 100%;
}
body header#habilidades ul li div#python span#borda span#python{
    background: #193850;
    color: #fff;
    text-align: center;
    padding: .3rem;
    padding-right: 279px;
    border-radius: 1rem;
    width: 100%;
}
body header#habilidades ul li div#HTML span#borda{
    margin-top: 1.5rem;
    margin-left: 5rem;
    background-color: #fff;
    padding: .4rem;
    padding-right: 545px;
    border-radius: 1rem;
    width: 100%;
}
body header#habilidades ul li div#HTML span#borda span#HTML{
    background: #193850;
    color: #fff;
    text-align: center;
    padding: .3rem;
    padding-right: 155px;
    border-radius: 1rem;
    width: 100%;
}
body header#habilidades ul li div#CSS span#borda{
    margin-top: 1.5rem;
    margin-left: 5rem;
    background-color: #fff;
    padding: .4rem;
    padding-right: 538px;
    border-radius: 1rem;
    width: 100%;
}
body header#habilidades ul li div#CSS span#borda span#CSS{
    background: #193850;
    color: #fff;
    text-align: center;
    padding: .3rem;
    padding-right: 162px;
    border-radius: 1rem;
    width: 100%;
}
body header#habilidades ul li div#JS span#borda{
    margin-top: 1.5rem;
    margin-left: 5rem;
    background-color: #fff;
    padding: .4rem;
    padding-right: 689px;
    border-radius: 1rem;
    width: 100%;
}
body header#habilidades ul li div#JS span#borda span#JS{
    background: #193850;
    color: #fff;
    text-align: center;
    padding: .3rem;
    padding-right: 11px;
    border-radius: 1rem;
    width: 100%;
}
body header#habilidades ul li div#Jupyter span#borda{
    margin-top: 1.5rem;
    margin-left: 5rem;
    background-color: #fff;
    padding: .4rem;
    padding-right: 607px;
    border-radius: 1rem;
    width: 100%;
}
body header#habilidades ul li div#Jupyter span#borda span#Jupyter{
    background: #193850;
    color: #fff;
    text-align: center;
    padding: .3rem;
    padding-right: 93px;
    border-radius: 1rem;
    width: 100%;
}
body footer {
    margin: 0;
    height: 600px;
    width: 120%;
    background-color: #193850;
}
body footer section#contato {
    display: block;
    margin: auto;
}
body footer section#contato h2{
    color: #fff;
    margin-left: 58rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}
body footer#contato div#icons{
    display: flex;
    justify-content: center;
    margin-left: 10rem;
}
body footer#contato div#icons a{
    text-decoration: none;
    color: white;
    font-size: 4rem;
    padding: 2rem;
    transition: all .4s ease-in-out;
}
body footer#contato div#icons a:hover{
    color: aqua;
}
